<!DOCTYPE html>
<html>
<head>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/bootstrap.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/leaflet.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='leaflet-cluster/MarkerCluster.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='leaflet-cluster/MarkerCluster.Default.css') }}">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

    <style>
		#mapid { height: 600px; width:90% ;float:left;}
		#optionsPanel{ width:10%;float:left}
	</style>

</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">GLADMap</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Main</a></li>
                <li><a href="#">Upload Data</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
	
	<div id="mapid"></div>
    <div id="optionsPanel"><select id="countryList"></select></div>

    <div id="modalOpener" data-toggle="modal" data-target="#myModal"></div>

    <div id="myModal" class="modal fade" role="dialog">
       <div class="modal-dialog">

           <!-- Modal content-->
           <div class="modal-content">
               <div class="modal-header">
                   <button type="button" class="close" data-dismiss="modal">×</button>
                   <h4 class="modal-title ng-binding">Mark the selected region:</h4>
               </div>
               <div class="modal-body">
                   <p ng-bind="notesHighlighted" class="ng-binding"></p>
                   <!-- ngIf: notesHighlighted -->
                      <br>
                      <input type="radio" name="status" value="green">  Mark Safe<br>
                      <input type="radio" name="status" value="orange">  Mark Alert<br>
                      <input type="radio" name="status" value="red">  Mark Danger<br>
                      <br>

                   <button id="done" ng-click="addNote()" type="submit" data-dismiss="modal">Submit</button>
               </div>


           </div>

       </div>
    </div>

    <script src="{{ url_for('static', filename='js/jquery-1.11.1.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/leaflet.js') }}"></script>
    <script src="{{ url_for('static', filename='leaflet-cluster/leaflet.markercluster-src.js') }}"></script>
    <script src="{{ url_for('static', filename='js/d3.v3.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

		
</body>
</html>
